<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
  </head>
  <body>
    <h1><%= category %> Category</h1>
    <a href="/products/create">Add products</a>
    <% if(category !== 'All') { %>
    <a href="/products">All Products</a>
    <% } %>
    <ul>
      <% products.forEach(item => { %>
      <a href="/products/<%= item.id %>">
        <li><%= item.name %> - <%= item.price %></li>
      </a>
      <%}); %>
    </ul>
  </body>
</html>
